@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
body {
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(left bottom, #40BADE 0, #FCFC6A 100%);
  background: -moz-linear-gradient(left bottom, #40BADE 0, #FCFC6A 100%);
  background: -o-linear-gradient(left bottom, #40BADE 0, #FCFC6A 100%);
  background: -ms-linear-gradient(left bottom, #40BADE 0, #FCFC6A 100%);
  background: linear-gradient(left bottom, #40BADE 0, #FCFC6A 100%);
  background-attachment: fixed;
}

div.jumbotron {
  margin-bottom: 0;
  padding: 10px auto;
}

a, a:hover, a:active {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #333;
}

p.name {
  margin: 10px 0 0 0 ;
}

header {
  color: #FFF;
}

header h1 {
  font-weight: 700;
}

.posted {
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}


h3.name {
  font-size: 18px;
}

div.box {
  margin-top: 100px;
  width: 230px;
}
.box {
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 7px 8px 17px rgba(0, 0, 0, 0.1);
  box-shadow: 7px 8px 17px rgba(0, 0, 0, 0.1);
  width: 380px;
  background: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 65px;
}

.box-inner {
  padding: 5px 5px;
}

.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  // White
  -webkit-box-shadow: 0 0 15px 2px rgba(255,255,255,0.1);
  box-shadow: 0 0 15px 2px rgba(255,255,255,0.1);
  // Black
  // -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.4);
  // box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.4);
  top: -60px;
  margin-left: -62px;
  left: 50%;
  position: absolute;
}

.avatar img {
  width: 125px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}

.like {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.name {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
}

.headline {
  font-weight: bold;
  font-size: 20px;
  color: #707070;
  margin-bottom: 2px;
  height: 40px;
  // overflow: hidden;
}

.location {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
}