<!-- 
- https://binarymuse.github.io/ngInfiniteScroll/demo_basic.html

 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bootsrtap For Beginners</title>
    <meta name="description" content="Hello World">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="App" ng-controller="mainCtrl">
    <header>
        <div class="jumbotron" style="background: none;">
            <div class="container text-center">
                <h1>Camper News</h1>
                <h3>Get the latest new straight from the Freecodecamp community!</h3>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="i in res | limitTo:32" class=" col-xs-6 col-sm-4 col-md-3 col-lg-3 fix">
             <div class="container-fluid">
                 
             
                    <div class="box">
                        <div class="avatar">
                            <img src="{{i.authorPicture}}" alt="">
                        </div>
                        <div class="box-inner">
                            <a href="{{i.storyLink}}"><h4 class="headline">{{i.headline}}</h4></a>
                            <p class="name">by {{i.authorName}}</p>
                            <p class="location"><i class="fa fa-map-marker"></i> Austin, Texas <i class="fa fa-heart like"> {{ i.upVotes }}</i></p>
                            <p class="posted">Posted on: {{i.timePosted}}</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div data-ng-app="App" data-ng-init="names=['Jani','Hege','Kai']">
      <p>Looping with ng-repeat:</p>
      <ul>
        <li data-ng-repeat="x in names">
          {{ x }}
        </li>
      </ul>
    </div> -->
    <footer>
        <div class="container-fluid">
            <hr>
            <div class="col-md-12">
                
            </div>
            <p class="col-md-offset-4">
                <small style="margin-right:20px"><a href="http://facebook.com/askorama">Like me</a> On facebook</small>
            </p>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
